*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

/* DEBUG--------------------------------------*/

.debug1 {
  background-color: rgba(255, 0, 0, 0.57);
  border: 1px solid black;
}

.debug2 {
  background-color: rgba(0, 0, 255, 0.644);
  border: 1px solid black;
}

.debug3 {
  background-color: rgba(179, 0, 255, 0.644);
  border: 1px solid black;
}

.img-placeholder2 {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: chartreuse;
}

.img-placeholder {
  height: 50%;
  width: 50%;
  border: 1px solid black;
  background-color: chartreuse;
}

.fontawesome {
  border: 1px solid black;
  background-color: aquamarine;
  height: 50px;
  width: 50px;
}

.planning .img-placeholder2 {
  margin-top: 30px;
}
.planning .right,
.planning .left {
  padding-bottom: 20px;
}

.testimonial {
  padding: 40px 0;
}

.testimonial.card {
  padding: 40px 0;
  margin: 30px 0;
}

.work-with-us .card{
 margin: 30px 0;
}

.about-us {
  padding: 30px;
}

.get-started {
  padding: 50px 0;
}

footer {
  padding: 30px 0;
  background-color: darkslategray;
  color: white;
}
/* ------------------------------------------- */

/* GENERAL------------------------------------ */

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.planning {
  display: flex;
  flex-direction: column;
  
}

.planning .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.testimonial>h2,
.testimonial>h3,
.testimonial>p {
  text-align: center;
}

.testimonial>h3 {
  font-weight: 300;
  padding: 30px 0;
}
.testimonial>h2 {
  color: #9792e4;
  font-size: 2rem;
}
.testimonial>p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-top:30px ;
}

.testimonial.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9792e4 ;
  color: white;
  border-radius: 50px;
  padding: 20px;
  font-size: 1.2rem;
}

.testimonial.card p {
  
  line-height: 1.95rem;
  padding: 30px 0;
}

.testimonial.card span {
  font-weight: 600;
  
}

.testimonial.card i {
  margin: 0 8px;
}

.testimonial img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.work-with-us {
  display: flex;
  flex-wrap: wrap;
}

.work-with-us h2 {
  text-align: center;
}

.work-with-us .card {
  width: 100%;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.get-started {
  text-align: center;
}
.get-started span {
  display: block;
}

footer>.container {
  text-align: center;
  max-width: 450px ;
}

/* header */
header {
  background-color: #0084fd;
  color: white;
}
header .fa-bars {
  font-size: 1.3rem ;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

header a.btn {
  background-color: white;
  border-radius: 40px;
  color: black;
  padding: 7px 14px;
}


/* --------*/

/* section1 */

.demo .card {
  background-color: #b5ddff;
  border-radius: 30px;
  padding: 25px;
  color: #5c7082;
  font-weight:600 ;
  line-height: 1.7rem;
}


.demo .card h3 {
  color: #0084fd;
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.demo .left a {
  background-color: #0084fd;
  color: white;
  text-decoration: none;
  padding: 8px 50px;
  display: inline-block;
  border-radius: 30px;
  justify-self: center;
  align-self: center;
}
.demo .left a span {
  margin-left: 0.5em;
}

.demo .left p {
  padding-bottom: 30px;
}

.demo .left {
  padding-bottom: 30px;
}

.demo img {
  width: 250px;
}

.demo .card.small {
  padding: 31px;
  text-align: center;
}
.demo .card.small p {
  margin-bottom: 20px;
}
.demo .card.small div:first-child {
  font-size: 5rem;
  color: #0084fd;
  padding: 0px 0 25px 0;
}
/* -------- */

/* section2 */
.planning {
  background-color: #9792e4;
  color: white; 
}

.planning .left img {
  padding: 55px 0;
}

.planning .left h2 {
  font-size: 2rem;
  align-self: flex-start;
  padding-bottom: 45px;
}

.planning p {
  line-height: 1.75rem;
}

.planning .right {
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 20px;
  margin: 60px 0;
}

.planning .right p {
  font-style: italic;
  font-size: 1.1rem;
  text-align: center;
}

.planning .right h3 {
  font-size: 1.5rem;
  padding: 20px 0;
}

.planning .arrow {
  background-color: #9792e4;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 20px 0;
}
/* -------- */

.work-with-us {
  background-color: #9792e4;
}
.work-with-us .container>h2 {
  color: white;
  padding: 40px 0;
  font-size: 2.1rem;
}
.work-with-us .container .card {
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  
}

.work-with-us .container .card h2 {
  text-align: start;
  font-size: 3rem;
  color: #9792e4;
}

.work-with-us .container .card h3 {
  color: #9792e4;
  font-size: 1.4rem;
  padding: 22px 0;
}

.work-with-us .container .card p {
  color: gray;
  line-height: 1.8rem;
}

.work-with-us .container .card a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #9792e4;
  padding: 10px 47px;
  border-radius: 20px;
  font-weight: 600;
  margin: 30px 0 10px 0;
}


.about-us .left h2 {
  color: #9792e4;
  font-size: 3rem;
  padding: 40px 0 40px 0;
}

.about-us .left p {
  line-height: 2.15rem;
  font-size: 1.2rem;
}

.about-us .left p:nth-child(2) {
  padding-bottom: 55px;
}

.about-us .right h4 {
  color: #9792e4;
  font-size: 2rem;
  margin-bottom: 30px;
}

.about-us .right a {
  text-decoration: none;
  color: white;
  background-color: #9792e4;
  border-radius: 20px;
  padding: 8px 13px;
  display: inline-block;
}

.about-us .right .img-container {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 60px 0 20px 0;
  overflow: hidden;
}

.about-us .right .right-container {
  position: relative;
  height: 200px;
  width: 200px;
}

.about-us .fa-quote-left {
  position: absolute;
  color: #9792e4;
  font-size: 3.5rem;
  right: 0;
  top: 0;

}




/* ------------------------------------------- */


/* ooooooooooooo MOBILE oooooooooooooooooooooooooooooooooo */



/* --------------------------HEADER----------------------- */

header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: none;
  list-style: none;
}

.demo {
  display: flex;
  flex-direction: column;
 
}
/* ------------------------------------------------------- */

/* --------------------------MAIN------------------------- */

/* section1 */
.demo .card {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.demo .big {
  padding-bottom: 0;
}


/* -------- */
/* section2 */

/* -------- */


/* section3 */

.card-text {
  text-align: center;
}

/* -------- */
/* ------------------------------------------------------- */



/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooo */










/* ooooooooooooo TABLET oooooooooooooooooooooooooooooooooo */

@media screen and (min-width: 768px) {

/* MAIN--------------------------------------- */
/* section1 */

.demo.container {
  flex-direction: row;
  flex-wrap: wrap;
  
}
.demo .big.card {
  align-items: baseline;
  width: calc(((100% / 3) * 2) - 20px );
}

.demo .card {
  font-size: 1.1rem;
}
.demo .small.card {
  width: calc((100% / 3) - 20px);

}

.demo .card:first-child,
.demo .card:nth-child(3),
.demo .card:nth-child(4) {
  margin-right: 20px;
}
/* -------- */

/* section2 */

.planning .left h2 {
  font-size: 4.5rem;
}
/* -------- */

/* section3 */

.testimonial.card {
  flex-direction: row;
}

.testimonial>h2 {
  font-size: 2.8rem;
}

.testimonial.card p {
  text-align: start;
  padding-left: 30px;
}

.testimonial.card p i:first-child {
  margin: 0 5px 0 0;
}
/* -------- */

/* section4 */
.work-with-us .container h2 {
  width: 100%;
  font-size: 3rem;
}
.work-with-us .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work-with-us .container .card {
  width: 48%;
}
/* -------- */

/* section5 */
.about-us {
  flex-direction: row;
}

.about-us .left h2 {
  font-size: 4.5rem;
}

.about-us .left {
  padding-right: 100px ;
}

/* -------- */

/* section6 */

.get-started {
  max-width: 600px ;
}

/* -------- */


/* ------------------------------------------- */

}


/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooo */









/* ooooooooooooo DESKTOP ooooooooooooooooooooooooooooooooo */

@media screen and (min-width: 1200px) {

/* HEADER------------------------------------- */
header ul {
  display: flex;
}
header ul li {
  padding-left: 20px;
}
.right-menu {
  display: none;
}
/* ------------------------------------------- */

/* MAIN--------------------------------------- */
/* section1 */
.demo .big.card {
  flex-direction: row;
  
}

.demo .left {
  width: 50%;
}

.demo .big.card .left {
  align-self: flex-start;
}

.demo .big.card img {
  align-self: flex-end;
}
/* -------- */

/* section2 */

.planning .container {
  display: flex;
  max-width: 800px;
  justify-content: space-between;
 
}

.planning {
  padding-bottom: 60px;
  
}

.planning .right {
  
  align-self: flex-end;  
  margin: 0;
  width: 40%;
  
  padding: 20px 20px 0 20px;
}
.planning .right img {
  width: 70%;
}
.planning .right .arrow {
  margin: 15px 0;
}
.planning .left {
  width: 60%;
  padding: 0 50px 0 50px;
}

.planning .left h2 {
 font-size: 2rem;
}



/* -------- */

/* section3 */

/* -------- */

/* section4 */
.work-with-us .container .card {
  width: 32%;
}

/* -------- */

/* ------------------------------------------- */
}