*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* DEBUG--------------------------------------*/

.debug1 {
  background-color: rgba(255, 0, 0, 0.57);
  border: 1px solid black;
}

.debug2 {
  background-color: rgba(0, 0, 255, 0.644);
  border: 1px solid black;
}

.img-placeholder2 {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  background-color: chartreuse;
}

.img-placeholder {
  height: 50%;
  width: 50%;
  border: 1px solid black;
  background-color: chartreuse;
}

.fontawesome {
  border: 1px solid black;
  background-color: aquamarine;
  height: 50px;
  width: 50px;
}

.planning {
  background-color: grey;
  padding: 40px 0;
}
.planning .img-placeholder2 {
  margin-top: 30px;
}
.planning .right,
.planning .left {
  padding-bottom: 20px;
}


/* ------------------------------------------- */

/* GENERAL------------------------------------ */

.container {
  width: 90%;
  margin: 0 auto;
}


.planning {
  display: flex;
  flex-direction: column;
  
}

.planning .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------------------------------------- */


/* ooooooooooooo MOBILE oooooooooooooooooooooooooooooooooo */



/* --------------------------HEADER----------------------- */

header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: none;
  list-style: none;
}

.demo {
  display: flex;
  flex-direction: column;
 
}
/* ------------------------------------------------------- */

/* --------------------------MAIN------------------------- */

/* section1 */
.demo .card {
  width: 100%;
  height: 350px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* -------- */
/* section2 */


/* -------- */

/* ------------------------------------------------------- */



/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooo */










/* ooooooooooooo TABLET oooooooooooooooooooooooooooooooooo */

@media screen and (min-width: 768px) {

/* MAIN--------------------------------------- */
/* section1 */

.demo.container {
  flex-direction: row;
  flex-wrap: wrap;
  
}
.demo .big.card {
  align-items: baseline;
  width: calc(((100% / 3) * 2) - 20px );
}


.demo .small.card {
  width: calc((100% / 3) - 20px);

}

.demo .card:first-child,
.demo .card:nth-child(3),
.demo .card:nth-child(4) {
  margin-right: 20px;
}
/* -------- */
/* section2 */



/* -------- */

/* ------------------------------------------- */

}


/* ooooooooooooooooooooooooooooooooooooooooooooooooooooooo */









/* ooooooooooooo DESKTOP ooooooooooooooooooooooooooooooooo */

@media screen and (min-width: 1200px) {

/* HEADER------------------------------------- */
header ul {
  display: flex;
}
header ul li {
  padding-left: 20px;
}
.right-menu {
  display: none;
}
/* ------------------------------------------- */

/* MAIN--------------------------------------- */
/* section1 */
.demo .big.card {
  flex-direction: row;
  
}

.demo .left {
  width: 50%;
}
/* -------- */

/* section2 */

.planning {
  flex-direction: row;
}

.planning .left,
.planning .right {
  width: 50%;
}



/* -------- */

/* ------------------------------------------- */
}